button {
    margin-top: 20px;
    margin-left: 2em;
    margin-bottom: 0.5em;
    font-family: Arial, sans-serif;
    background-color: rgb(59, 139, 204);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  .p-button:enabled:hover {
    background: rgb(30 108 225 / 92%);
  }

  ::ng-deep .p-inputtext{
    font-family: 'Open Sans', sans-serif;
  }